[Unit]

[Install]
WantedBy=multi-user.target

[Service]
ExecStart=$CWD/YTMusic
WorkingDirectory=$CWD
User=$USER
Restart=always
RestartSec=5
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=%n