[Unit]

[Install]
WantedBy=multi-user.target

[Service]
ExecStart=$CWD/out/YTMusic
WorkingDirectory=$CWD/out
User=$USER
Restart=always
RestartSec=5
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=%n