@use "sass:color";
@font-face {
  font-family: "Franxurter";
  src: url("../assets/font/Franxurter.ttf");
}
@font-face {
  font-family: "Nevis";
  src: url("../assets/font/Nevis.ttf");
}
@font-face {
  font-family: "Swansea";
  src: url("../assets/font/Swansea.ttf");
}

$text: #000000;

* {
  box-sizing: border-box;
}

body {
  font-size: 18px;
  background-color: gold;
  font-family: "Franxurter";
  color: $text;
  width: 100%;
  height: 100%;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

.yt-search-result {
  * {
    cursor: pointer;
  }
}

#header-btn-settings {
  right: 7rem;
}
#header-btn-remove {
  right: 3.5rem;
}
#header-btn-settings,
#header-btn-remove {
  box-sizing: content-box;
  position: absolute;
  top: 0;
  width: 3.5rem;
  height: 3.5rem;
  margin: 0;
  padding: 0;
  z-index: 10;
  border: 0;
  background: none;
  font-size: 20px;
  transition: opacity ease-out 100ms;

  &:hover {
    opacity: 0.5;
  }
  &:active {
    opacity: 0.3;
  }
}
