[id^="card-overlay-"] {
  display: none;
  backdrop-filter: blur(3px);
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  cursor: pointer;

  .icont {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .ti {
      font-size: 400%;
      text-shadow: 2px 2px 0px #a4a4a4;
    }
    .ti[class*="ti-check"] {
      text-shadow: none;
    }
    .ti[class*="ti-external-link"] {
      text-shadow: none;
      text-decoration: none;
      color: var(--tblr-info);
      &:hover {
        color: #3780bd;
      }
    }
  }
}
.card-body {
  &:hover [id^="card-overlay-"] {
    display: block;
  }
  &:active [id^="card-overlay-"] {
    backdrop-filter: blur(5px);
  }
}
